<div class="row">
    <div class="col-md-6 m-auto">
<div class="container mt-5 pl-5">
  <h2 class="text-center" style="margin-bottom:50px">Create new acount</h2>
  <form action="/signup" method="POST">
    <div class="form-group">
      {{!-- <label for="email">Name:</label> --}}
      <input type="text" class="form-control" id="name" placeholder="Name" name="Name">
    </div>

    <div class="form-group">
      {{!-- <label for="email">Email:</label> --}}
      <input type="email" class="form-control" value= "jis@email.com" id="email" placeholder="Email" name="Email">
    </div>

    <div class="form-group">
      {{!-- <label for="email">Phone:</label> --}}
      <input type="text" value="123456789" class="form-control" id="phone" placeholder="Phone" name="Phone">
    </div>

    <div class="form-group">
      {{!-- <label for="pwd">Password:</label> --}}
      <input type="password" class="form-control" id="password" placeholder="Enter password" name="Password">
    </div>

    {{!-- <div class="form-group">
    <label for="pwd">Confirm Password:</label>
      <input type="password" class="form-control" id="cpassword" placeholder="Confirm password" name="pswd">
    </div> --}}

   <div class="form-group form-check">
      Already have an account ? <a href="/login">Login</a>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
</div>
</div>
